html {
    box-sizing: border-box;
}

/*Gameboard formatting*/
#gameboardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

    /* This is to create a display toggle based on active/support player status */
.player-display-toggle {
    display: none;
}

/* Pop-up Alert Overlay formatting */

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #overlay .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
      background: white;
      color: black;
  }

/*General Card formatting */

.card {
    border: 5px solid black;
    border-radius: 10px;
    width: 250px;
    position: relative;
}

.stat-box {
    background-color: white;
    border: 1px dashed green;
}

.exhausted {
    opacity: .5;
}

.playerItem {
    background: grey;
}

.playerItem div {
    color: white;
}


.player.target {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 171, 218, 0.33)
}

.infopane-item {
    width: 100px;
    border: 1px solid black;
}

/*Active scenario formatting*/

#scenarioContainer {
    height: 100%;
}

.scenario-card {
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
}

.roll-amounts {
    width: 100px;
    height: 50px;
 }

.roll-count{
    width: 50px;
    height: 20px;
    background-color: white;
    float: left;
}

.active-player-rolls {
    background: black;
    color: white;
}

.support-player-rolls {
    background: lightgray;
}

.scenario-image {
    background-color: grey;

}

.scenario-title {
    background-color: red;
}

.scenario-stage {
    border: 1px dotted black;
}

.scenario-stage.currScen {
    background: lightseagreen;
}


/*Active players formatting*/

.position {
    display: flex;
    flex-direction: column;
}

.active {
    background: lightcoral
}

    /* This auto-unhides relevant display */
.active .player-display-toggle {
    display: block;
}

.support {
    background-color: lightcyan;
}

    /* This auto-unhides relevant display */
.support .player-display-toggle.ability {
    display: block;
}

.roll-dash {
    border: 3px dotted black;
    border-radius: 5px;
    background: lightgreen;
}

.player-hand {
    display: flex;
    justify-content: center;}

.hand-slot {
    display: flex;
    flex-direction: column;
}

.die {
    background: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.die.keep {
    background: lightpink;
}

.die.submitted {
    background: lightskyblue;
}

.die.choice {
    background: yellow
}

/* Attacks formatting */

.player-attack {
    display: flex;
}

.player-attack:nth-child(even) {
    background: lightyellow;
}

.attack-info {
    width: 100%;
}

.attack-requirements {
    font-size: .75em;
    background: rgba(119, 136, 153, 0.333);
}

.attack-name {
    background: white;
}

span.attack-damage {
    background-color: red;
    color: white;
    padding: .1em;
    border-radius: 25%;
    font-size: 1.5em;
}

/* Inactive Players Formatting */

#playerContainer {
    display: flex;
}

.inactive {
    height: 100px;
}

/* Items formatting */

.player-item {
    width: 100px;
    border: 1px solid black;
}

.player-item-name {
    font-weight: bold;
    text-decoration: underline;
}