html {
    box-sizing: border-box;
}

/*Gameboard formatting*/
#gameboardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

    /* This is to create a display toggle based on active/support player status */
.player-display-toggle {
    display: none;
}

/*General Card formatting */

.card {
    border: 5px solid black;
    border-radius: 10px;
    width: 250px;
}

.stat-box {
    background-color: white;
    border: 1px dashed green;
}

.exhausted {
    opacity: .5;
}

.playerItem {
    background: grey;
}

.playerItem div {
    color: white;
}

/*Active scenario formatting*/

.scenario-card {
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
}

.roll-amounts {
    width: 100px;
    height: 50px;
 }

.roll-count{
    width: 50px;
    height: 20px;
    background-color: white;
    float: left;
}

.active-player-rolls {
    background: black;
    color: white;
}

.support-player-rolls {
    background: lightgray;
}

.scenario-image {
    background-color: grey;

}

.scenario-title {
    background-color: red;
}

.scenario-stage {
    border: 1px dotted black;
}

.scenario-stage.currScen {
    background: lightseagreen;
}


/*Active players formatting*/

.position {
    display: flex;
    flex-direction: column;
}

.active {
    background: lightcoral
}

    /* This auto-unhides relevant display */
.active .player-display-toggle {
    display: block;
}

.support {
    background-color: lightcyan;
}

    /* This auto-unhides relevant display */
.support .player-display-toggle.ability {
    display: block;
}

.roll-dash {
    border: 3px dotted black;
    border-radius: 5px;
    background: lightgreen;
}

.player-hand, .attack-hand {
    display: flex;
    justify-content: center;}

.hand-slot {
    display: flex;
    flex-direction: column;
}

.die {
    background: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.die.keep {
    background: lightpink;
}

.die.submit {
    background: lightskyblue;
}

/* Attacks formatting */

.player-attack:nth-child(even) {
    background: lightyellow;
}

.attack-requirements {
    font-size: .75em;
    background: rgba(119, 136, 153, 0.333);
}

.attack-details {
    background: white;
    display: flex;
    justify-content: space-between;
}

span.attack-damage {
    background-color: red;
    color: white;
    padding: .1em;
    border-radius: 25%;
}

/* Inactive Players Formatting */

#playerContainer {
    display: flex;
}

.inactive {
    height: 100px;
}