/*Gameboard formatting*/

#gameboardContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* Padding is highlighting twitch overlay dead zones */
    padding: 5rem 7rem 5rem 0rem;
}

#scenarioContainer {
    height: 100%;
}

#animationZone {
    width: 200px;
}

#playerContainer {
    display: flex;
    flex-direction: column;
}

.infopane-item {
    border: 1px solid black;
}


/* Rolling section formatting */
#rollingPlayers {
    background: grey;
}

.roll-dash {
    border: 3px dotted black;
    border-radius: 5px;
    background: lightgreen;
}

.rollButton.wantsReroll {
    background: purple;
}

.player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

.hand-slot {
    display: flex;
    flex-direction: column;
}
