/*Active players formatting*/
.player-card {
    width: 350px;
    border: 5px solid black;
}

.active {
    background: lightcoral
}

    /* This auto-unhides relevant display */
.active .player-display-toggle {
    display: block;
}

.support {
    background-color: lightcyan;
}

    /* This auto-unhides relevant display */
.support .player-display-toggle.ability {
    display: block;
}

.inactive {
    background-color: grey;
    height: max-content;
}

.exhausted.inactive {
    opacity: .66;
}


/* This is for when a player target needs to be selected */
.player.target {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 171, 218, 0.33)
}

.health-bar{
    width: 100%;
}

.ability {
    border-top: 1px black dashed;
}

/* Attacks formatting */
.player-attack {
    display: flex;
    padding: 2px;
    border-top: 3px solid black;
}

.player-attack:nth-child(even) {
    background: white;
}

.attack-info {
    width: 100%;
}

span.attack-damage {
    background-color: red;
    color: white;
    padding: .1em;
    border-radius: 25%;
    font-size: 1.5em;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
}
